@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
/* font-family: 'Manrope', sans-serif; */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
    --brandGreen: theme(colors.green.500);
    --brandGray: theme(colors.gray.600);
    --brandBlack: theme(colors.gray.900);
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    --chart-1: 139 65% 20%;
  }
  ::-webkit-scrollbar {
    @apply size-0;
  }

  body {
    @apply break-words font-manrope font-medium text-gray-600;
  }
  .dark {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer utilities {
  .sheet-content button[type="button"] {
    display: none;
  }

  .sheet-content .active span {
    @apply rounded-md border-l-green-600 bg-gray-50 text-gray-800 shadow-sm;
  }

  .custom-pagination .swiper-pagination-bullet {
    @apply mx-1 my-0 size-3 bg-green-500 sm:mx-2;
  }

  /* If you're customizing pagination bullets as well */
  .swiper-pagination-bullet {
    background-color: var(--brandGreen);
  }

  .swiper-pagination-bullet-active {
    background-color: var(--brandGreen);
  }

  /* Container for all tags */
  .tagsClass {
    @apply flex flex-wrap gap-2 rounded-lg border border-gray-300 bg-white p-3 shadow-sm;
  }

  /* Container for the tag input */
  .tagInputClass {
    @apply w-full;
  }

  /* Input field styling */
  .tagInputFieldClass {
    @apply w-full bg-transparent p-2 text-sm text-gray-700 outline-none;
  }

  /* Container for selected tags */
  .selectedClass {
    @apply flex flex-wrap gap-2;
  }

  /* Individual tag style */
  .tagClass {
    @apply flex items-center gap-2 rounded-full bg-blue-600 px-3 py-1 text-white;
  }

  /* Remove icon style */
  .removeClass {
    @apply ml-2 cursor-pointer text-white hover:text-gray-300;
  }

  /* Suggestions dropdown container */
  .suggestionsClass {
    @apply absolute z-10 mt-2 w-full rounded-md border border-gray-300 bg-white shadow-md;
  }

  /* Active suggestion styling */
  .activeSuggestionClass {
    @apply cursor-pointer bg-gray-200 p-2;
  }

  /* Clear all tags button */
  .clearAllClass {
    @apply mt-4 cursor-pointer text-sm text-red-500;
  }
}

/* On hover, restore the width to display the scrollbar */
#project-table::-webkit-scrollbar {
  @apply size-1;
}

/* Optional: style the track and thumb when visible */
#project-table::-webkit-scrollbar-track {
  @apply rounded-full bg-gray-200;
}

#project-table::-webkit-scrollbar-thumb {
  @apply rounded-full bg-gray-400;
}

/* Hide horizontal scrollbar */
#project-table::-webkit-scrollbar:horizontal {
  height: 0;
}

.loader {
  width: 40px;
  --b: 5px;
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 1px;
  background: conic-gradient(#0000 10%, #22c55e) content-box;
  -webkit-mask: repeating-conic-gradient(
      #0000 0deg,
      #000 1deg 20deg,
      #0000 21deg 36deg
    ),
    radial-gradient(
      farthest-side,
      #0000 calc(100% - var(--b) - 1px),
      #000 calc(100% - var(--b))
    );
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
  animation: l4 1s infinite steps(10);
}
@keyframes l4 {
  to {
    transform: rotate(1turn);
  }
}
